body{
  background-color: hsl(180, 100%, 94%);
}

h1{
  text-align: center;
  background-color: aquamarine;
  margin-left: 200px;
  margin-right: 200px;
}

.wheather{
  background-color: rgb(162, 162, 244);
  text-align: center;
  padding: 20px;
  font-size: 30 px;
}

label {
  width: 130px;
}
button{
height: 30px;
width: 250px;
margin-top: 3px;
}
input{
  height: 25px;

}
.inputField{
  margin-left: 550px;
  margin-top: 100px;
}
p{
  margin-left: 600px;
}
h2{
  margin-left: 600px;

}